<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/bootstrap@5.2.0/dist/js/bootstrap.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.2.0/dist/css/bootstrap.css" />

  <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body class="container">
  <form method="POST" action="/fashion/clothing">
    <h5>
      <div class="mt-2 mb-3">
        <label for="formFile" class="form-label">Kleiderstück hinzufügen</label>

        <div class="mt-2 mb-3">
          <label for="name" class="form-label">Name der Kleidung*</label>
          <input type="text" class="form-control" id="name" placeholder="Name" name="name" />
        </div>
        <label for="color" class="form-label">Farbe der Kleidung*</label>
        <input type="color" class="form-control form-control-color" id="color" value="#563d7c" name="color"
          title="Choose your color" />

        <input class="mt-3 form-control" type="file" accept="image/*;capture=camera" />
      </div>
      <div class="d-flex flex-column">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="clothingtype" value="kurze Hose" />
          <label class="form-check-label" for="inlineRadio1">kurze Hose</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="lange Hose" />
          <label class="mt-1 form-check-label" for="inlineRadio1">lange Hose</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="T-shirt" />
          <label class="mt-1 form-check-label" for="inlineRadio2">T-shirt</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="Pullover" />
          <label class="mt-1 form-check-label" for="inlineRadio1">Pullover</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="Schuh" />
          <label class="mt-1 form-check-label" for="inlineRadio3">Schuh</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="Hut/Mütze/Kappe" />
          <label class="mt-1 form-check-label" for="inlineRadio1">Hut/Mütze/Kappe</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="Brille" />
          <label class="mt-1 form-check-label" for="inlineRadio1">Brille</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="Jacke" />
          <label class="mt-1 form-check-label" for="inlineRadio1">Jacke</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="Tuch" />
          <label class="mt-1 form-check-label" for="inlineRadio1">Tuch</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="Handschuh" />
          <label class="mt-1 form-check-label" for="inlineRadio1">Handschuhe</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="Hemd" />
          <label class="mt-1 form-check-label" for="inlineRadio1">Hemd</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="Kleid" />
          <label class="mt-1 form-check-label" for="inlineRadio1">Kleid</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="Rock" />
          <label class="mt-1 form-check-label" for="inlineRadio1">Rock</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="Gürtel" />
          <label class="mt-1 form-check-label" for="inlineRadio1">Gürtel</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="mt-2 form-check-input" type="radio" name="clothingtype" value="Hoodie" />
          <label class="mt-1 form-check-label" for="inlineRadio1">Hoodie</label>
        </div>

        <button type="submit" class="mt-4 btn btn-success">abschicken</button>
      </div>
    </h5>
  </form>
</body>

</html>