<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fashion-Matcher</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="main.js"></script>
    <link ref="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div
      class="container"
      style="display: flex; flex-direction: column; align-items: center"
    >
      Contrast is determined by the difference in brightness between skin and
      hair color. If you have a rather lighter skin tone and light hair, then
      you have a low contrast.<br />
      On the other hand, if you have a lighter skin tone and dark hair, then you
      have high contrast. If you have a darker skin tone and dark hair color,
      you have medium contrast.<br />
      All other combinations of skin tone and hair color also form a medium
      contrast.

      <h1>
        <label for="exampleColorInput" class="form-label">
          Choose your color contrast
        </label>
      </h1>
      <div
        class="btn-group"
        role="group"
        aria-label="Basic mixed styles example"
      >
        <button type="button" onclick="myFunction()" class="colorcontrast1 btn">
          Low Contrast
        </button>
        <button type="button" onclick="myFunction()" class="colorcontrast2 btn">
          Medium contrast
        </button>
        <button type="button" onclick="myFunction()" class="colorcontrast3 btn">
          High contrast
        </button>
        <script>
          function myFunction() {
            window.location.href = 'login.html';
          }
        </script>
        <div class="btn-group" role="group" aria-label="Basic example"></div>
      </div>
      <div class="btn-group" role="group" aria-label="Basic example"></div>

      <script src="main.js"></script>
    </div>
  </body>
</html>
